.security-checkup__recovery-emails-placholder {
	.form-section-heading,
	.security-checkup__recovery-email {
		@include placeholder();
	}
}

.security-checkup__recovery-emails {
	margin: 0px 0px 30px 0px;
}

.security-checkup__recovery-emails-list {
	margin: 0px;
	list-style: none;
}

.security-checkup__recovery-email-container {
	margin-bottom: 10px;
}

.security-checkup__recovery-email {
	font-style: italic;
	color: $gray;
}

.security-checkup__recovery-phone-placholder {
	.form-section-heading,
	.security-checkup__recovery-phone {
		@include placeholder();
	}
}

.security-checkup__recovery-phone-full-number {
	font-style: italic;
	color: $gray;
}

.security-checkup__edit-recovery-phone .form-phone-input {
	display: flex;
	flex-direction: column;

	@include breakpoint( ">480px" ) {
		flex-direction: row;
	}
}

.security-checkup__edit-recovery-phone .form-fieldset__country {
	padding-right: 0;

	@include breakpoint( ">480px" ) {
		flex: 1;
		padding-right: 20px;
	}
}

.security-checkup__edit-recovery-phone .form-country-select {
	width: 100%;

	@include breakpoint( ">480px" ) {
		min-width: 0;
		width: 100%;
		max-width: 200px;
	}
}

.security-checkup__edit-recovery-phone .form-fieldset__phone-number {
	@include breakpoint( ">480px" ) {
		flex: 2 0px;
	}
}

.security-checkup__verify-recovery-phone .form-label {
	margin: 10px 0px;
}

.security-checkup__verify-recovery-phone .form-text-input {
	margin: 10px 0px;
}

.security-checkup__recovery-phone-remove {
	cursor: pointer;
	color: red;
}
